.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 600px;
  background-color: #def4f5;
  border-radius: 5px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #96d4d2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 800;
  color: #2a363b;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
  font-weight: 600;
}

.formInput {
  width: 300px;
  box-shadow: inset 1px 1px 3px #8ba793, inset -1px -1px 5px #fff;
  border-radius: 5px;
  border: 0;
  padding: 8px;
}

.btnSubmit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  background-color: #c1e1dd;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.btnLogOut {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  background-color: #a2dede;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 0;
}

.contactItem {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.authNav {
  display: flex;
  gap: 15px;
  margin-left: auto;
  padding-right: 20px;
}

.text {
  padding-bottom: 20px;
}

.textList {
  font-size: 18px;
  font-weight: 550;
}
